<!-- <ion-header class="header" >
  <ion-toolbar>
    <ion-title slot="start">
      <img src="assets/logo1.png" class="logo">
    </ion-title>
    
    <ion-buttons slot="end" class="desktop-nav">
      <ion-button routerLink="/account">Account</ion-button>
      <ion-button routerLink="/products">Products</ion-button>
      <ion-button routerLink="/Promotions">Promotions</ion-button>
      <ion-button routerLink="/about-us">About Us</ion-button>
      <ion-button routerLink="/contact">Contact Us</ion-button>
      <ion-button routerLink="/privacy-policy">Privacy Policy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-title>My Header</ion-title>
  </ion-toolbar>
</ion-header>
