<ion-header class="main-header" [class.header-scrolled]="isScrolled">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()" class="mobile-menu-button">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
      <ion-title>
        <img src="assets/icon/logo.png" class="logo" alt="BestBrightness Store"/>
      
      </ion-title>
    </ion-buttons>
    
    <ion-buttons slot="end" class="desktop-nav">


      <ion-button routerLink="/products">
        <ion-icon name="home-outline"></ion-icon>
        <span>Home</span>
      </ion-button>
 
      
      <ion-button routerLink="/promotions">
        <ion-icon name="gift-outline"></ion-icon>
        <span>Promotions</span>
      </ion-button>

      <ion-button (click)="viewAccount()">
        <ion-icon name="person-outline"></ion-icon>
        <span>Account</span>
      </ion-button>

      <ion-button (click)="viewOrders()" (click)="closeMenu()">
        <ion-icon name="archive-outline" slot="start"></ion-icon>
        <ion-label>View history</ion-label>
      </ion-button>
    

      <ion-button (click)="logout()">
        <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
        <ion-icon name="log-out-outline"></ion-icon>
        <!-- <span>Privacy</span> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <!-- <ion-content class="ion-padding"> -->
    <ion-content>
  <div class="mobile-menu" [class.show-menu]="isMenuOpen">
    <ion-list>
      <ion-item routerLink="/products" (click)="closeMenu()">
        <ion-icon name="house-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="viewAccount()" (click)="closeMenu()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-item>
    
      <ion-item routerLink="/promotions" (click)="closeMenu()">
        <ion-icon name="gift-outline" slot="start"></ion-icon>
        <ion-label>Promotions</ion-label>
      </ion-item>
     
      <ion-item (click)="viewOrders()" (click)="closeMenu()">
        <ion-icon name="archive-outline" slot="start"></ion-icon>
        <ion-label>View history</ion-label>
      </ion-item>

      <ion-item (click)="logout()" (click)="closeMenu()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Log-out</span>
      </ion-item>
    </ion-list>
  </div>


<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Best Brightness POS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="viewOrders()">
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="viewAccount()">
        <ion-icon slot="icon-only"  name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<style>
  .keyboard-toggle-button {
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 100;
font-size: 25px;
  color: #db7d11;
 
}

</style>

<!-- <ion-content> -->
  <div class="pos-container">
    <div class="products-section">
      <a
      class="keyboard-toggle-button"
      (click)="toggleKeyboard()"
     
      >
      <ion-icon [name]="keyboardVisible ? 'eye-outline' : 'close-outline' "></ion-icon>
      </a>
      <!-- <div class="datetime-display">
        {{ currentDate | date:'EEEE, MMMM d, y, h:mm:ss a' }}
      </div> -->
      <div *ngIf="!keyboardVisible">
      <div class="search-container">
      <div class="search-bar">
        <ion-searchbar placeholder="Search products or scan" (ionChange)="searchProducts($event)"></ion-searchbar>
      </div>
      <!-- Order ID Input for Walk In -->
<div class="search-in-bar">
  <ion-input
    [(ngModel)]="orderIdInput"
    label="Order ID : |"
    (keyup.enter)="searchWalkInProducts()">
  </ion-input>
</div>
</div>
      <ion-segment [(ngModel)]="selectedCategory" (ionChange)="onCategoryChange()">
        <ion-segment-button *ngFor="let category of categories" [value]="category.name">
          <ion-icon [name]="category.icon"></ion-icon>
          <ion-label>{{ category.name }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
      <div class="products-grid">
        <div class="product-card" *ngFor="let product of products" (click)="addToCart(product)">
          <img [src]="product.image_url" [alt]="product.name">
          <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p>
              <span [class.strikethrough]="product.hasPromotion">R{{ product.price.toFixed(2) }}</span>
              <span *ngIf="product.hasPromotion" class="discounted-price">R{{ product.discountedPrice!.toFixed(2) }}</span>
            </p>
            <span *ngIf="product.hasPromotion" class="promotion-tag">{{ product.promotionName }}</span>
          </div>
          <div class="stock-status">
            {{ getStockStatus(product) }}
          </div>
        </div>

      </div>
      <div class="pagination-controls">
        <button 
          class="pagination-btn" 
          (click)="previousPage()" 
          [disabled]="currentPage === 1">
          Previous
        </button>
    
        <span class="pagination-info">
          Page {{ currentPage }} of {{ totalPages }}
        </span>
    
        <button 
          class="pagination-btn" 
          (click)="nextPage()" 
          [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>
    </div>
    <div class="cart-section">
      <!-- <h2>Cart</h2> -->

      <div class="datetime-display">
        {{ currentDate | date:'EEEE, MMMM d, y, h:mm:ss a' }}
      </div>
      <h4>Cart</h4>
      <div class="cart-items">
        <div class="cart-item" *ngFor="let item of cart">
          <span>{{ item.name }}</span>
          <div class="item-controls">
            <ion-button fill="clear" (click)="removeFromCart(item)">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
            <span>{{ item.quantity }}</span>
            <ion-button fill="clear" (click)="addToCart(item)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>
          <span class="item-price">R{{ (item.price * item.quantity!).toFixed(2) }}</span>
        </div>
      </div>
      <div class="cart-summary">
        <div class="summary-item">
          <span>Subtotal</span>
          <span>R{{ getSubtotal().toFixed(2) }}</span>
        </div>
        <div class="summary-item">
          <span>Tax (15%)</span>
          <span>R{{ getTax().toFixed(2) }}</span>
        </div>
        <div class="summary-item total">
          <span>Total</span>
          <span>R{{ getTotal().toFixed(2) }}</span>
        </div>
      </div>
      
     <!-- Amount Paid Input -->
     <!-- <div class="amount-input">
      <ion-input
        type="number"
        placeholder="Enter Amount Paid"
        [(ngModel)]="amountPaidInput"
        [required]="paymentType === 'cash'"
        [disabled]="paymentType !== 'cash'"
        (ionChange)= "calculateChange()">
      </ion-input>
    </div> -->
    <div class="input-container">
      <div class="amount-input">
        <ion-input
          type="number"
          placeholder="Enter Amount Paid"
          [(ngModel)]="amountPaidInput"
          [required]="paymentType === 'cash'"
          [disabled]="paymentType !== 'cash'"
          (ionChange)="calculateChange()"
        ></ion-input>
      </div>
      
      <div class="barcode-input">
        <ion-input
          [(ngModel)]="barcodeInput"
          placeholder="Enter Barcode"
          (keyup.enter)="onBarcodeEnter()"
        ></ion-input>
      </div>
    </div>
    
    <!-- Barcode Input -->
    <!-- <div class="barcode-input">
      <ion-input [(ngModel)]="barcodeInput" placeholder="Enter Barcode" (keyup.enter)="onBarcodeEnter()"></ion-input>
    </div> -->
    <div  class="numpad">
      <ion-button *ngFor="let num of [1,2,3,4,5,6,7,8,9,'C',0,'Enter']"
        (click)="num === 'C' ? clearNumpad() : num === 'Enter' ? submitNumpad() : appendToNumpad(num.toString())">
        {{num}}
      </ion-button>
    </div>     
    </div>
  </div>




  <div class="receipt-overlay" *ngIf="receiptVisible">
    <div class="receipt-container">
      <h2>Receipt</h2>
      <div class="receipt-content">
        <h3>BEST BRIGHTNESS STORE</h3>
        <p>123 Main St, City, Country</p>
        <p>Tel: (555) 123-4567</p>
        <hr>
        <p>Date: {{ receiptData?.date }}</p>
        <p>Cashier: {{ receiptData?.cashier }} (ID: {{ receiptData?.cashierId }})</p>
        <hr>
        <h4>Items:</h4>
        <ul>
          <li *ngFor="let item of receiptData?.items">
            {{ item.name }} - {{ item.quantity }} x {{ item.price | currency:'R' }} = {{ item.price * item.quantity | currency:'R' }}
          </li>
        </ul>
        <hr>
        <p><strong>Subtotal:</strong> {{ receiptData?.subtotal | currency:'R' }}</p>
        <p><strong>Tax (15%):</strong> {{ receiptData?.tax | currency:'R' }}</p>
        <hr>
        <p class="total"><strong>Total: {{ receiptData?.total | currency:'R' }}</strong></p>
        
        <!-- Conditionally display the amount paid and change for cash payments -->
        <ng-container *ngIf="receiptData?.paymentType === 'cash'">
          <p><strong>Amount Paid:</strong> {{ receiptData?.amountPaid | currency:'R' }}</p>
          <p><strong>Change:</strong> {{ receiptData?.change | currency:'R' }}</p>
        </ng-container>
  
        <p><strong>Payment Method:</strong> {{ receiptData?.paymentType === 'cash' ? 'Cash' : 'Credit Card' }}</p>
        <hr>
        <p class="thank-you">THANK YOU FOR SHOPPING WITH US!</p>
      </div>
      <ion-button expand="block" (click)="hideReceipt()">Close Receipt</ion-button>
    </div>
  </div>
 
</ion-content>

<ion-footer>
  <!-- <ion-toolbar> -->
    <!-- <ion-segment [(ngModel)]="paymentType" color="primary">
      <ion-segment-button value="cash">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Cash</ion-label>
      </ion-segment-button>
      <ion-segment-button value="card">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Card</ion-label>
      </ion-segment-button>
    </ion-segment> -->
  <!-- </ion-toolbar>
  <ion-toolbar> -->
    <ion-row>
      <ion-col size="9">
        <ion-button expand="block" (click)="checkout()" [disabled]="!paymentType || cart.length === 0">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          Checkout
        </ion-button>
      </ion-col>
      
      <ion-col size="3">
        <ion-button expand="block"  (click)="printReceipt()" >
          <ion-icon name="print-outline" slot="icon-only"></ion-icon>
          print
        </ion-button>
      </ion-col>
    </ion-row>
  <!-- </ion-toolbar> -->
</ion-footer>