<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<ion-content class="ion-padding">
  <section class="h-100 h-custom" style="background-color: #eeeeee00;">
    <ion-grid class="h-50">
      <ion-row class="d-flex justify-content-center align-items-center h-100">
        <ion-col>
          <ion-card class="card-container">
            <ion-card-content class="p-4">
              <ion-row>
                <ion-col size="12" size-lg="7">
                  <h5 class="mb-3">
                    <ion-button fill="clear" class="text-body" routerLink="/products">
                      <ion-icon name="arrow-back" slot="start"></ion-icon>
                      Continue shopping
                    </ion-button>
                  </h5>
                  <ion-item-divider></ion-item-divider>

                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p class="mb-0">You have {{ cartItems.length }} items in your cart</p>
                    </div>
                    <div>
                      <!-- <p class="mb-0">
                        <ion-text color="medium">Sort by:</ion-text>
                        <ion-button fill="clear" class="text-body">
                          price <ion-icon name="chevron-down"></ion-icon>
                        </ion-button>
                      </p> -->
                    </div>
                  </div>

                  <ng-container *ngIf="cartItems.length > 0; else emptyCart">
                    <ion-card *ngFor="let item of paginatedItems" class="mb-3">
                      <ion-card-content>
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <ion-img [src]="item.image_url" style="width: 65px;"></ion-img>
                            </div>
                            <div class="ms-3">
                              <h5>{{ item.name }}</h5>
                              <p class="small mb-0">{{ item.description }}</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 200px;">
                              <div class="quantity-control">
                                <ion-button fill="clear" (click)="updateQuantity(item.product_id, item.quantity - 1)">-</ion-button>
                                <span>{{ item.quantity }}</span>
                                <ion-button fill="clear" (click)="updateQuantity(item.product_id, item.quantity + 1)">+</ion-button>
                                <ion-button fill="clear" (click)="enterCustomQuantity(item.product_id)">
                                  <ion-icon name="create-outline"></ion-icon>
                                </ion-button>
                              </div>
                            </div>
                            <div style="width: 80px;">
                              <h5 class="mb-0">
                                <ng-container *ngIf="item.hasPromotion; else regularPrice">
                                  <span class="original-price">R{{ item.price * item.quantity }}</span>
                                  <span class="discounted-price">{{ item.discountedPrice * item.quantity | currency }}</span>
                                </ng-container>
                                <ng-template #regularPrice>
                                  {{ item.price * item.quantity | currency }}
                                </ng-template>
                              </h5>
                            </div>
                            <ion-button fill="clear" color="medium" style="color:red" (click)="updateQuantity(item.product_id, 0)">
                              <ion-icon name="trash"></ion-icon>
                            </ion-button>
                          </div>
                        </div>
                      </ion-card-content>
                    </ion-card>
                    <div class="pagination-controls">
                      <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
                        Previous
                      </button>
                      <span class="page-number">{{ currentPage }} / {{ totalPages }}</span>
                      <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">
                        Next
                      </button>
                    </div>
                  </ng-container>

                  <ng-template #emptyCart>
                    <div class="empty-cart-message">
                      <h3>Your cart is empty</h3>
                      <p>Add some items to your cart to see them here.</p>
                    </div>
                  </ng-template>
                </ion-col>

                <ion-col size="12" size-lg="5">
                  <ion-card class="colors text-white rounded-3">
                    <ion-card-content>
<!--                         
                      <h4>Total Amounts</h4>
                      <ion-item-divider class="colors"></ion-item-divider> -->
                      <!-- <div class="d-flex justify-content-between" *ngFor="let item of cartItems">
                        <p class="mb-2">{{item.name}}</p>
                        <p class="mb-2">{{ item.price*item.quantity | currency }}</p>
                      </div> -->
                      <div class="delivery-method-container">
                        <ion-item-divider>
                          <ion-label>Delivery Method</ion-label>
                        </ion-item-divider>
                        <div class="custom-radio" [class.selected]="deliveryMethod === 'delivery'" (click)="selectDeliveryMethod('delivery')">
                          <input type="radio" id="delivery" name="deliveryMethod" [(ngModel)]="deliveryMethod" value="delivery">
                          <label for="delivery">Delivery</label>
                        </div>
                        <div class="custom-radio" [class.selected]="deliveryMethod === 'walk-in'" (click)="selectDeliveryMethod('walk-in')">
                          <input type="radio" id="walk-in" name="deliveryMethod" [(ngModel)]="deliveryMethod" value="walk-in">
                          <label for="walk-in">Walk-in Collection</label>
                        </div>
                      </div>
                      
                      <div *ngIf="deliveryMethod === 'delivery'">
                        <ion-button (click)="openAddressPopup()">Select Shipping Address</ion-button>
                      </div>
                      
                      <div class="address-popup" *ngIf="showAddressPopup">
                        <div class="address-popup-content">
                          <span class="close-popup" (click)="closeAddressPopup()">&times;</span>
                          <h2>Select Shipping Address</h2>
                          <div class="address-card" *ngFor="let address of savedAddresses">
                            <div class="delete-btn" (click)="deleteAddress(address.id)">
                              <ion-icon name="trash-outline"></ion-icon>
                            </div>
                            <p>{{ address.address_line1 }}</p>
                            <p *ngIf="address.address_line2">{{ address.address_line2 }}</p>
                            <p>{{ address.city }}, {{ address.province }}</p>
                            <p>{{ address.postal_code }}</p>
                            <p>{{ address.country }}</p>
                            <ion-button (click)="selectAddress(address)">Select</ion-button>
                          </div>
                          <ion-button (click)="addNewAddress()">Add New Address</ion-button>
                        </div>
                      </div>


                      <ion-item-divider class="colors"></ion-item-divider>
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Original Subtotal</p>
                        <p class="mb-2">{{ subtotal | currency }}</p>
                      </div>

                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Discounted Subtotal</p>
                        <p class="mb-2">{{ discountedSubtotal | currency }}</p>
                      </div>

                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Tax</p>
                        <p class="mb-2">{{ tax  | currency }}</p>
                      </div>

                      

                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Discounted Total</p>
                        <p class="mb-2">{{ discountedTotal | currency }}</p>
                      </div>

                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total (Incl. taxes)</p>
                        <p class="mb-2">{{ discountedTotal | currency }}</p>
                      </div>

                      <ion-button expand="block" class="btn-lg" (click)="PlaceOrder()">
                        <div class="d-flex justify-content-between">
                          <!-- <span>{{ discountedTotal | currency }}</span> -->
                          <span>Checkout <ion-icon name="arrow-forward" class="ms-2"></ion-icon></span>
                        </div>
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="receipt-overlay" *ngIf="receiptVisible">
      <div class="receipt-container">
        <h2>Receipt</h2>
        <div class="receipt-content">
          <h3>BEST BRIGHTNESS STORE</h3>
          <p>123 Main St, City, Country</p>
          <p>Tel: (555) 123-4567</p>
          <h4>Items:</h4>
          <ul>
            <li *ngFor="let item of receiptData?.items">
              {{ item.name }} - {{ item.quantity }} x {{ item.price | currency:'R' }} = {{ item.price * item.quantity | currency:'R' }}
            </li>
          </ul>
          <hr>
          <p><strong>Subtotal:</strong> {{ receiptData?.subtotal | currency:'R' }}</p>
          <p><strong>Tax (15%):</strong> {{ receiptData?.tax | currency:'R' }}</p>
          <hr>
          <p class="total"><strong>Total: {{ receiptData?.total | currency:'R' }}</strong></p>
          <p class="thank-you">THANK YOU FOR SHOPPING WITH US!</p><br>
          <p><strong>#Order Number:</strong> {{ receiptData?.orderNumber }}</p>

        </div>
        <ion-button expand="block" (click)="hideReceipt()">Close Receipt</ion-button>
      </div>
    </div>
    
  </section>
</ion-content>



<style>
  .colors {
    --background: linear-gradient(135deg, #e2953d, #db7d11);
    --color: rgb(255, 255, 255);
  }
  ion-grid{
    --background:rgba(255, 255, 255, 0.521);
  }
ion-content{
  padding:200px;
}
  ion-item.colors {
    --background: transparent;
    --color: rgb(255, 255, 255);
  }

  ion-button.text-white {
    --color: rgb(255, 255, 255);
  }

  .h-custom {
    height: 100vh !important;
  }

  .pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
}

.pagination-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #db7d11;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.pagination-button[disabled] {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.pagination-button:hover:not([disabled]) {
  background-color: #db7d11;
}

.page-number {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }

  ion-item-divider {
    min-height: 1px;
    width: 100%;
    background: rgb(255, 255, 255);
    margin: 10px 0;
    border-radius:8px;
  }
.card-container{
  background-color: rgba(255, 255, 255, 0.749);
}
  

  .delivery-method-container {
    margin-bottom: 20px;
  }
  
  .custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .custom-radio:hover {
    background-color: #f5f5f546;
  }
  
  .custom-radio input[type="radio"] {
    margin-right: 10px;
  }
  
  .custom-radio.selected {
    background-color: #dedede87;
    border-color: #c06001;
  }
  
  .address-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .address-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .address-card {
    border: 1px solid #ddd;
    color:rgb(56, 56, 56);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
  }
  
  .address-card .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f44336;
    cursor: pointer;
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }

</style>